body{
    height: 350px;
}
h1{
    margin-left: 45px;
   
}
label{
    margin-left: 25px;
    
}
input{
    margin-left: 25px;
    background-color:lightgrey;
    margin-right: 45px;
    max-width: 75rem;
}
div{
    margin-left: 25px;
    
}
button{
    margin-left: 50px;
}

.address{
    height: 70px;
}