<nav class="navbar navbar-expand-xl navbar-light">
  <div class="container-fluid">
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLink="/home" routerLinkActive="active" class="nav-link ">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="aboutus" routerLinkActive="active"class="nav-link" href="#">About Us</a>
        </li>
        <!-- <li class="nav-item">
          <a routerLink="specials" routerLinkActive="active"class="nav-link" href="#">Specials</a>
        </li> -->
        <li class="nav-item">
          <a routerLink="products" routerLinkActive="active"class="nav-link" href="#">Products</a>
        </li>
        <li class="nav-item">
          <a  routerLink="/myaccount" routerLinkActive="active"class="nav-link" href="#">MyAccount</a>
        </li>
        
      </ul>
      
      <form class="d-flex" role="search">
        <input class=" search form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      
      <div>
      <ul>
      
        <a routerLink="cart" routerLinkActive="active"class="nav-link" font-size="1.2rem" href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Cart</a>
      
    </ul>
  </div>
      
    </div>
  </div>
</nav>



